# visual studio
.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# visual studio code
.vscode

# cmake files
*.cmake
CMakeCache.txt
bin
CMakeFiles
lib
path_tracer.dir
x64
CMakeDoxyfile.in
compile_commands.json

# Make files
Makefile
*.a
path_tracer

# Third Party
third_party